@import 'tailwindcss';

@keyframes valued-partners-infinite-scroll {
	to {
		transform: translateX(calc(-50% - 10px));
	}
}

@keyframes valued-partners-infinite-scroll-lg-desktop {
	to {
		transform: translateX(calc(-50% - 65px));
	}
}

@utility animate-valued-partners-infinite-scroll {
	animation: valued-partners-infinite-scroll 60s linear infinite;
}

@utility animate-valued-partners-infinite-scroll-lg-desktop {
	animation: valued-partners-infinite-scroll-lg-desktop 60s linear infinite;
}

@utility animate-valued-partners-infinite-scroll-reverse {
	animation: valued-partners-infinite-scroll 30s linear infinite reverse;
}

@property --r2 {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}
@property --x {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

.loading {
	position: relative;
	overflow: hidden;
	isolation: isolate;
	color: white;
}

.loading::before {
	content: '';
	position: absolute;
	inset: 0;
	background: conic-gradient(
		from calc(var(--r2) - 90deg) at var(--x) 50%,
		rgba(0, 128, 255, 0.3) 0%,
		/* Vibrant blue gradient */ white 10%,
		rgba(0, 128, 255, 0.3) 20%
	);
	border-radius: inherit;
	animation:
		x 5s linear infinite,
		rotating2 5s linear infinite;
	z-index: 0;
}

.loading::after {
	content: '';
	position: absolute;
	inset: 2px;
	background-color: rgb(87, 171, 255); /* Sky-500 OKLCH converted to RGB */
	border-radius: inherit;
	z-index: 1;
}

@keyframes x {
	0%,
	100% {
		--x: 5%;
	}
	32.82%,
	50% {
		--x: 90%;
	}
}

@keyframes rotating2 {
	0%,
	32.82% {
		--r2: 0deg;
	}
	50%,
	82.82% {
		--r2: 180deg;
	}
	100% {
		--r2: 360deg;
	}
}

@theme {
	--breakpoint-lg-mobile: 425px;
	--breakpoint-xl-mobile: 500px;
	--breakpoint-xs-tablet: 650px;
	--breakpoint-sm-tablet: 700px;
	--breakpoint-lg-tablet: 850px;
	--breakpoint-xl-tablet: 975px;
	--breakpoint-sm-desktop: 1200px;
	--breakpoint-lg-desktop: 1440px;
	--breakpoint-xl-desktop: 1700px;
}
